:root {
    --color-background: rgb(15 15 15);
    --color-background-center: rgb(45 45 45);
    --color-orange: rgb(255 191 0);
    --color-purple: rgb(191 0 255);
    --color-glow: rgb(255 255 255 / 25%);
    --color-shadow: rgb(0 0 0 / 66%);
}
html {
    overflow-y: scroll;
}
body {
    color: white;
    font-family: monospace;
    text-shadow: var(--color-glow) 0 0 1em, var(--color-shadow) 0 0 0.1em;
    background:
        var(--color-background)
        linear-gradient(
            90deg,
            var(--color-background) 0%,
            var(--color-background-center) 50%,
            var(--color-background) 100%
        )
        repeat-y
        center;
    background-size: 750pt 100%;
}
a {
    border-radius: 4pt;
    box-shadow: inset 0 0 0 0 var(--color-orange);
    color: var(--color-orange);
    margin: 0 -2pt;
    padding: 0 2pt;
}
a:hover {
    color: var(--color-purple);
    background-color: var(--color-orange);
}
.container, .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-container {
    padding: 0 10pt;
    transition: transform 500ms ease-in-out;
}
.logo-container:hover {
    transform: scale(0.95);
}
.header-container {
    display: flex;
    flex-direction: row;
}
.header-container > div {
    flex-grow: 1;
}

/* Logo */
.logo-img {
    width: 150pt;
    filter: drop-shadow(0 0 10pt var(--color-glow));
}
.logo {
    margin-top: -8pt;
    font-weight: bold;
    font-size: 500%;
    white-space: nowrap;
}
@keyframes Bob {
    0% { transform: translateY(-6pt); }
    100% { transform: translateY(6pt); }
}
@keyframes BobLess {
    0% { transform: translateY(-4pt); }
    100% { transform: translateY(4pt); }
}
.logo .start *, .logo .end *, .logo-img, .version {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
}
.logo .start *, .logo .end * {
    transform: translateY(-6pt);
    animation: Bob 2s ease-in-out 0s infinite alternate;
}
.logo-img, .version {
    transform: translateY(-4pt);
    animation: BobLess 2s ease-in-out 0s infinite alternate;
}
.logo .d { animation-delay: 0ms; }
.logo .e { animation-delay: 200ms; }
.logo .s { animation-delay: 400ms; }
.logo .b { animation-delay: 600ms; }
.logo .o { animation-delay: 800ms; }
.logo .t { animation-delay: 1000ms; }
.logo .start { color: var(--color-purple); }
.logo .end { color: var(--color-orange); }

.version {
    margin-top: -5pt;
    animation-delay: 1000ms;
}
.version span {
    font-size: 200%;
    font-weight: bold;
    color: var(--color-orange);
}

/* Titles */
h1, h2 {
    /*font-size: 150%;*/
    margin: 5pt 0;
    padding: 0;
}

/* Boxes */
.big {
    margin: 10pt 0;
    width: 500pt;
}
.box, .subcontainer {
    width: 500pt;
}
.box {
    box-sizing: border-box;
    padding: 5pt 10pt;
    border-radius: 10pt;
    box-shadow: var(--color-glow) 0 0 10pt;
    transition: box-shadow .3s ease-in-out;
    overflow: clip;
}
.box.left, .box.right {
    border-style: dashed !important;
}
.box:hover {
    box-shadow: var(--color-glow) 0 0 20pt;
}
.box p {
    margin: 5pt 0;
}
.box:nth-of-type(even) {
    border: 2.5pt solid var(--color-purple);
}
.box:nth-of-type(odd) {
    border: 2.5pt solid var(--color-orange);
}
.button.box {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: wrap;
}
.button.box button {
    border: 2.5pt solid var(--color-orange);
    border-radius: 10pt;
    padding: 5pt 10pt;
    margin: 0 5pt;
    font-size: 100%;
    background-color: transparent;
    color: white;
    font-family: monospace;
    font-weight: bold;
}
.button.box button:hover {
    background-color: var(--color-orange);
    color: var(--color-purple);
}
button.active {
    background-color: var(--color-orange) !important;
    color: var(--color-purple) !important;
}

/* Background */
.logo-bg {
    display: none;
    position: fixed;
    top: calc(50% - 260pt);
}
.logo-bg > img {
    filter: blur(10pt) saturate(0.5);
    opacity: 0.25;
    width: 520pt;
    height: 520pt;
}
.logo-bg.left {
    left: -260pt;
}
.logo-bg.right {
    right: -260pt;
}

/* Responsive */
@media (max-width: 520pt) {
    .big.box, .subcontainer {
        width: 100%;
    }
    .header-container {
        width: 100%;
        flex-flow: column;
    }
    .logo-container {
        order: 1;
        margin-bottom: 10pt;
    }
    .box.left, .box.right {
        border-style: solid !important;
        width: 100%;
    }
    .box.left {
        order: 2;
        margin: 10pt 0;
    }
    .box.right {
        order: 3;
        margin-top: 10pt;
    }
}
@media (min-width: 1040pt) {
    .logo-bg {
        display: block;
    }
}